<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
 
    <xacro:property name="wheel_radius"    value="0.19"/>
    <xacro:property name="wheel_thickness" value="0.086"/>
    <xacro:property name="wheel_height"    value="0.062"/>
    <xacro:property name="wheel_mass"      value="100.83"/>
    <xacro:property name="base_width"      value="0.483"/>
    <xacro:property name="base_length"     value="0.711"/>
    <xacro:property name="base_height"     value="0.124"/>
    <xacro:property name="base_mass"       value="56.7"/>
    <xacro:property name="actuator_dx"     value="0.314"/>
    <xacro:property name="actuator_height" value="0.419"/>
    <xacro:property name="actuator_size"   value="0.03"/>
    <xacro:property name="imu_x"           value="0.0"/>
    <xacro:property name="imu_y"           value="0.0"/>
    <xacro:property name="imu_z"           value="0.0"/>
 
</robot>